In [1]:
import numpy as np
import pandas as pd

In [2]:
department = pd.read_csv("DEPARTMENT.csv")

In [3]:
department

         'Research'   5   '333445555'   '22-MAY-1978'  346500
0  'Administration'   4   '987654321'   '01-JAN-1985'  330500
1    'Headquarters'   1   '888665555'   '19-JUN-1971'   70000
2        'Software'   6   '111111100'   '15-MAY-1999'  758000
3        'Hardware'   7   '444444400'   '15-MAY-1998'  949500
4           'Sales'   8   '555555500'   '01-JAN-1997'  992500
5              'HR'   9   '112244668'   '01-FEB-1989'  122000
6      'Networking'   3   '110110110'   '15-MAY-2009'   80000
7              'QA'  11   '913323708'    '2-FEB-2010'       0

In [6]:
sql_statements = department.to_sql(
        "DEPARTMENT",  # Table name
        con=None,  # Use None to generate SQL without executing it
        if_exists="append",  # Append data to the table
        index=False,  # Exclude the DataFrame index
        chunksize=1000,  # Size of data chunks to write (optional)
        method="multi",  # Use "multi" insert method (optional)
    )

AttributeError: 'NoneType' object has no attribute 'cursor'