In [1]:
import numpy as np
import pandas as pd

In [2]:
import csv

In [4]:
with open('EMPLOYEE.csv', 'r', newline='') as csv_file:
    csv_reader = csv.reader(csv_file)
        
    # Skip the header row if present
    next(csv_reader)
        
    # Iterate through the rows in the .csv file
    for row in csv_reader:
        # Extract data from the row
        Fname = row[0].strip("'")
        Minit = row[1].strip("'")
        Lname = row[2].strip("'")
        Ssn = row[3].strip("'")
            
        # Check if there are enough values in the row
        if len(row) >= 5:
            Bdate_str = row[4].strip("'")
        else:
            Bdate_str = ""
            
        # Check if there are enough values in the row
        if len(row) >= 6:
            Address = row[5].strip("'")
        else:
            Address = ""
            
        # Check if there are enough values in the row
        if len(row) >= 7:
            Sex = row[6].strip("'")
        else:
            Sex = ""
            
        # Check if there are enough values in the row
        if len(row) >= 8:
            Salary = float(row[7].strip("'")) if row[7].strip("'") != "null" else None
        else:
            Salary = None
            
        # Check if there are enough values in the row
        if len(row) >= 9:
            Super_ssn = row[8].strip("'") if row[8].strip("'") != "null" else None
        else:
            Super_ssn = None
            
        # Check if there are enough values in the row
        if len(row) >= 10:
            Dno = int(row[9])
        else:
            Dno = None

ValueError: could not convert string to float: 'TX'

In [56]:
with open('EMPLOYEE.csv', 'r', newline='\n') as csv_file:
    csv_reader = csv.reader(csv_file)
    for row in csv_reader:
        Fname = row[0]
        Minit = row[1]
        Lname = row[2]
        Ssn = row[3]
        Birthday = row[4]
        address = row[5]
        Sex = row[6]
        Salary = row[7]
        Super_ssn = row[8]
        Dno = row[9]
        i = row[10]

In [50]:
temp = row[5] + " " +row[6] + " " + row[7]

In [51]:
temp = temp.replace("'","")

In [52]:
temp

' 13 Fifth St Seattle WA'

In [76]:
Birthday = Birthday.replace("'","")
Birthday = Birthday.replace(" ","")

In [77]:
Birthday

'27-MAY-1978'

In [80]:
from datetime import datetime

In [81]:
Birthday = datetime.strptime(Birthday.strip(), '%d-%b-%Y').date()

In [82]:
Birthday

datetime.date(1978, 5, 27)

In [89]:
Address = row[5] + " " +row[6] + " " + row[7]

In [90]:
Address = Address.replace("'", "")
#Address = Address.replace(" ","")

In [93]:
Sex = row[8]

In [101]:
Salary = row[9]

In [104]:
Salary = float(Salary)

In [106]:
Salary = round(Salary, 2)

In [109]:
Super_ssn = row[10]

In [110]:
Super_ssn = Super_ssn.replace("'","")
Super_ssn = Super_ssn.replace(" ","")

In [112]:
Dno = row[11]

In [114]:
Dno = Dno.replace("'","")
Dno = Dno.replace(" ","")
Dno = int(Dno)

In [115]:
Dno

5